.add-edit-product{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.88);
  width: 100%;
  height: auto;
  padding: 20px;
  left: 0;
  top: 0;

  p {
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 600;
    span {
      font-weight: 300;
    }
  }
}
input, textarea {
  display:block;
  width: 100%;
  margin-bottom:25px;
  font-size: 15px;
  padding: 5px 10px;
  background:none;
  border-bottom: 1px solid #414a59 !important;
  border:0;
  //color:#fff;
}
textarea {
  resize: none;
  height: 80px;
}

.image-drop {
  background: #ffa45c;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  border: 1px dotted black;
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

input[type='submit'] {
  background-color:#ffcc00;
  cursor:pointer;
  color:#000;
  font-weight:bold;
  margin-bottom:50px;
  padding:20px;
}


.admin-buttons{
  display:flex;

  .admin-button{
    background-color: #fc3a5a;
    border: 1px solid #fc3a5a;
    color: white;
    width: 50%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover{
      color: #fc3a5a;
      background-color: white;
    }
  }
}
