<app-navbar [filterObject]="filterObject"></app-navbar>

<button (click)="addNewProduct()">AddProduct</button>
<button (click)="filterMe()">FilterMe</button>
<button (click)="showFilter()">ShowFilter</button>

<button (click)="setObservable()">setObservable</button>

  <section class="container reset-padding">
    <div class="row">
      <app-product-item
        *ngFor="let product of products | async"
        class="col-sm-6 col-md-4 col-lg-3 p-0"
        [product]="product.productData"
        [adminMode]="true"
        (deleteProductEv)="deleteProductEv($event)"
        (editProductEv)="editProductEv($event)"
      >
      </app-product-item>
    </div>
  </section>

<app-create-edit-product
  *ngIf="newEditProduct"
  [product]="newEditProduct"
  (commit)="addCommited($event)"
  (abandon)="addAbandoned($event)"
></app-create-edit-product>

<h1>Selected product:</h1>
<h3>{{ (selectedProduct | async)?.name }}</h3>
<p>{{ (selectedProduct | async)?.description }}</p>
