<div class="product">
  <div class="img-prod">
    <img
      src="https://lsco.scene7.com/is/image/lsco/levis/clothing/861960001-front-pdp-lse.jpg?$regular_desktop$&amp;id=yeKrc3&amp;fmt=jpg&amp;fit=constrain,1&amp;wid=782&amp;hei=627"
    />
    <div class="overlay"></div>
  </div>
  <div class="py-3 px-3 text">
    <h3>Floral Jackquard Pullover</h3>
    <div>
      <p class="price"><span>$120.00</span></p>
    </div>
    <div class="bottom-area px-3">
      <a (click)="logProduct" class="add-to-cart text-center py-2 mr-2"
        ><span>do koszyka</span
      ></a>
      <a href="#" class="buy-now text-center py-2">kup teraz<span></span></a>
      </div>
  </div>
</div>
<!-- class="img-fluid" -->
