<div class="product">
  <div class="img-prod">
    <img
      [src]="product.imageURL"
    />
    <div class="overlay"></div>
  </div>
  <div class="py-3 px-3 text">
    <div class="text-inner">
      <h3>{{ product.name }}</h3>
      <p class="price">Cena: <span>{{ format(product.price) }}</span> zł</p>
    </div>
    <div class="bottom-area px-3">
      <div
        (click)="logProduct()"
        class="bottom-button add-to-cart text-center py-2">
        do koszyka
      </div>
      <div class="bottom-button buy-now text-center py-2">kup teraz</div>
    </div>
  </div>
  <div class="admin-buttons" *ngIf="adminMode">
    <div (click)="editProduct()" class="admin-button text-center py-2">Edytuj produkt</div>
    <div (click)="deleteProduct()" class="admin-button text-center py-2">usuń produkt</div>
  </div>
</div>

