<nav class="navbar">

  <form class="container">
      <div id="search" class="col-12 col-md-6 bt-margin-1rem">
        <input type="text" name="searchString" id="searchInput" placeholder="Wyszukaj" (input)="onSearchChange($event.target.value)">
      </div>

      <div id="sortSelect" class="col-12 col-md-6 bt-margin-1rem">
          <label for="sortMethod">Sortuj według:</label>
          <select class="form-control" id="sortMethod" (change)="onSelectChange($event.target.value)">
              <option value="name">Nazwa</option>
              <option value="price">Cena rosnąco</option>
              <option value="price-desc">Cena malejąca</option>
          </select>
      </div>
      <div class="col-12">
        <app-m-slider></app-m-slider>
      </div>
    </form>
  </nav>
