.form-control{
  border-radius: 0 !important;
}
form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 5px;

  @media (min-width: 820px){
    flex-flow: row nowrap;
  }
}
input {
  padding: 0 5px;
}
label {
  color: white;
  text-align: right;
  width: 100px;
  margin: 0 6px 0 0;
}
#search > input{
  flex: 1 1 300px;

}
#sortSelect{
  display: flex;

  label {
    width: 120px;
  }
  select{
    padding: 0 5px;
    width: 150px;
    height: 29px;
  }
}
#prices{
  display: flex;
  label{
    width: 120px;
  }
  .price-input{
    width: 100px;
  }
}

